<div class="container">
    
    <div class="row">
        
        <h3 class="text-primary"><strong>Claity Standards and best practices</strong></h3>  
        
        <div class="col-md-6">

            <div class="alert alert-info" role="alert">
              Get to know the <a href="#" class="alert-link"> <b>Clarity Standards </b></a> to follow best practices in Clarity Development
            </div>
            <div class="alert alert-info" role="alert">
              Make the best possible use of <a href="#" class="alert-link">Multilanguage</a> standards from the beginning of Development
            </div>
            <div class="alert alert-info" role="alert">
              Create the standard defined <a href="#" class="alert-link">Folder Structure</a> on the start of every ticket
            </div>
            <div class="alert alert-info" role="alert">
              Create a detailed <a href="#" class="alert-link">Design Specification</a> document, containing design details of ticket
            </div>
            <div class="alert alert-info" role="alert">
              Unit Test your screen properly for every case and create a detailed <a href="#" class="alert-link">Test Plan</a>
            </div>
        </div>

            
        <div class="col-md-6">

            <div class="alert alert-info" role="alert">
                <a href="#optimize" class="alert-link">GIT version control</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#optimize" class="alert-link">Code Indentation</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#optimize" class="alert-link">Data Table</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#optimize" class="alert-link">Dropdowns</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#optimize" class="alert-link"></a>
            </div>
        </div>
    </div>  

    <div class="row">
        <h3 class="text-success"><strong>Learning</strong></h3>  
        
        <div class="col-md-6">

            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link"> <b>Clarity Standards </b></a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">Multilanguage</a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">Folder Structure</a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">Design Specification</a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">Test Plan</a>
            </div>
        </div>

            
        <div class="col-md-6">

            <div class="alert alert-success" role="alert">
                <a href="#optimize" class="alert-link">Optimize Page Load</a>
            </div>
			<div class="alert alert-success" role="alert">
                <a href="/#/gFonts" class="alert-link">Google Fonts</a>
            </div>
			<div class="alert alert-success" role="alert">
                <a href="/#/gCharts" class="alert-link">Google Charts</a>
            </div>
        </div>
    </div>  

</div>    
