<style>
		/* styles unrelated to zoom */
		* { border:0; margin:0; padding:0; }
		p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

		/* these styles are for the demo, but are not required for the plugin */
        
        
		.zoom 
        {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

        
      
	</style>

 <script src='app\views\pages\scripts\jquery.zoom.js'></script>
 
 <script>
  $(document).ready(function(){
   
   $('#zoomSpan').zoom({ on:'click' });    
   
  });
 </script>
 <script>
 $('#responsive-image[usemap]').rwdImageMaps(); 

</script>

<div class="container text-center"  style="overflow-x:hidden"><!--Container fluid-->
				
	   
	<div class="col-md-12 ">
		<img class="img-responsive " id="responsive-image" src='app/views/Images/mystore.jpg'  
		style="width:900px;height:446px"  usemap="#mobilestore"/> 
	  
	</div>  
        
       
    <div class='col-md-2' style="margin:5px;"> 
		<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#ZoomModal">
			Zoom Image
		</button>
	</div> 

                        <!-- zoom modal begins -->
	<div id="ZoomModal" class="modal fade" role="dialog">
		<div class="modal-dialog" style="width:70%;height:100%">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Click to Zoom</h4>
				</div>
				<div class="modal-body">
					<span class='zoom' id='zoomSpan'>
					<img src='app/views/Images/mystore.jpg' class="img-responsive" style="width:900px;height:446px"/>
					</span>       
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>       
   <!-- zoom modal ends -->
       
				
	<map name="mobilestore"><!--Map started -->
                
		<area  coords="209,24,511,199"  shape="rect" href="#"
			  data-reveal-id="one" data-toggle="modal" data-target="#myModal2">

		  <!--upper right-->
		<area coords="1593,33,1893,195"  shape="rect"  href="#" 
			   data-reveal-id="one" data-toggle="modal" data-target="#myModal2">

		<!--first-->
	   <area shape="rect" coords="417,369,734,525"  href="#" data-reveal-id="two" data-toggle="modal" data-target="#myModal2" >
	   <!--second-->
		<area shape="rect" coords="831,369,1148,521"  href="#" data-reveal-id="two" data-toggle="modal" data-target="#myModal2" >
		<!--third-->
		<area shape="rect" coords="1269,365,1588,525"  href="#" data-reveal-id="two" data-toggle="modal" data-target="#myModal2" >

	</map>
	<!--Map End here............. -->

	<!-- Shelf1 Image Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog" >
			<div class="modal-content">

				<!--navidation bar on modal-->
				<div class="modal-header" >
					<ul class="nav navbar-nav" id="tabContent"  style="border:none;font-size:13px;">
						<li class="active link-4"><a href="" data-toggle="tab">View Fixture</a></li>
						<li class="link-4"><a href="" ><div data-dismiss="modal">&times;</div></a></li>
					</ul>
				</div>
				<div class="row" style="border:none; display:inline">
					
					<div class="col-md-offset-1 col-md-4" style="padding-top:0.5%">
						<img class="img-responsive" src="app/views/Images/Shelf1.jpg" usemap="#shelf" width="250" height="400" />

					</div>
				</div>
			</div>
		</div>
	</div> <!--End modal1-->


	<div class="modal fade" id="myModal2" role="dialog" >
	
		<script type="text/javascript">
			init();
		</script>
		<div class="modal-dialog modal-lg"  >
			<div class="modal-content" style="height:50%">
				<!--navidation bar on modal-->
				<div class="modal-header" >
					<ul class="nav nav-tabs" id="tabContent"  style="border:none;font-size:15px">
						<li class="active" class="link-4"><a href="" data-toggle="tab">View Fixture</a></li>
						
						<li class="link-4 pull-right" data-dismiss="modal"><a href="" ><div >&times;</div></a></li>
					</ul>
				</div>
				<br/>
				
				<div class="row">
					<div class=" col-md-offset-8 col-md-3">
						<select class="form-control" name="mobileList" id="mobileList" >
						  <option value="">Select Phone</option>
						  <option details="Model:Galaxys9, Brand:Samsung,Size:6.2 inches,Camera:13MP" value="LG_V30">LG V30</option>
						  <option details="Model:Vivo v7, Brand:VIVO,Size:5.2 inches,Camera: 17MP" value="ASUS_Zenfone_V_Live">ASUS Zenfone Live</option>
						  <option details="Model:Oppo F5, Brand:oppo,Size:7 inches,Camera: 23MP"  value="MotoZ2Play">MotoZ2Play</option>
						  <option details="Model:Iphone 6, Brand:Iphone,Size:7 inches,Camera: 23MP" value="Apple-iPhoneX">Apple iPhoneX</option>
						  <option details="Model:Iphone 6s, Brand:Iphone,Size:7 inches,Camera: 23MP" value="SAMSUNG_Galaxy_S9">Samsung Galaxy S9</option>
						  <option details="Model:Iphone 7, Brand:Iphone,Size:7 inches,Camera: 23MP" value="Great_Black_VZW">Great Black VZW</option>
						  <option details="Model:Iphone 7s, Brand:Iphone,Size:7 inches,Camera: 23MP" value="samsung-galaxy-j3">Samsung Galaxy J3</option>
						  <option details="Model:Iphone 8, Brand:Iphone,Size:7 inches,Camera: 23MP" value="GOOGLE_Walleye_Denim">Google Walleye Denim</option>
						  <option details="Model:Iphone X, Brand:Iphone,Size:7 inches,Camera: 23MP" value="Google_Marlin_Slate">Google Marlin Slate</option>
					 </select>
					</div>
				</div>
				<br/>
				<div class="row" style="border:none;">
					<div class="col-md-5" style="padding-top:0.5%;padding-left:5%">
						<!-- Floorplan Image -->
						<img class="map img-responsive" src="app/views/Images/Shelf2.jpg" usemap="#shelf" style="padding-left: 5%; margin-left: 5%;width:260px;" />
						
						<map name="shelf" class="Mobiles">
							
							<!--moved  -->
							  <area  coords="31,0,83,65" shape="rect" class="moved" 
								details="Model:Galaxys9, Brand:Samsung,Size:6.2 inches,Camera:13MP"
								source='LG_V30'
								data-maphilight='{"strokeColor":"0000ff","strokeWidth":2,"fillColor":"e6f2ff"}'/>
							
							<area  coords="113,1,155,69" shape="rect" class="moved"
								details="Model:Vivo v7, Brand:VIVO,Size:5.2 inches,Camera: 17MP"
								source='ASUS_Zenfone_V_Live'
								data-maphilight='{"strokeColor":"0000ff","strokeWidth":2,"fillColor":"e6f2ff"}' />
						  
							<area coords="189,1,232,64" shape="rect" class="moved"
								details="Model:Moto g5+, Brand:Motorola,Size:7 inches,Camera: 23MP"       source='MotoZ2Play'
								data-maphilight='{"strokeColor":"0000ff","strokeWidth":2,"fillColor":"e6f2ff"}'/>
				  
							<!-- newlyAdded -->
							<area coords="31,74,85,140" shape="rect" class="newlyAdded"
								details="Model:Iphone X, Brand:Apple,Size:7 inches,Camera: 23MP"
								source='Apple-iPhoneX'
								data-maphilight='{"strokeColor":"FF9537","strokeWidth":2,"fillColor":"e6f2ff"}'/>                          
							<area coords="108,75,161,139"  shape="rect" class="newlyAdded"
								details="Model:V5+, Brand:Vivo,Size:7 inches,Camera: 23MP"     
								source='SAMSUNG_Galaxy_S9'
								data-maphilight='{"strokeColor":"FF9537","strokeWidth":2,"fillColor":"e6f2ff"}'/> 

								 
							<area coords="183,75,233,138"  shape="rect" class="newlyAdded"
								details="Model:Galaxy S8, Brand:Samsung,Size:7 inches,Camera: 23MP"    
								source='Great_Black_VZW'
								data-maphilight='{"strokeColor":"FF9537","strokeWidth":2,"fillColor":"e6f2ff"}'/>
									
									
							<!-- same -->
							<area coords="33,144,80,212"  shape="rect" class="same"
								details="Model:Note 2, Brand:Samsung,Size:7 inches,Camera: 23MP" 
								source='samsung-galaxy-j3'
								data-maphilight='{"strokeColor":"228B22","strokeWidth":2,"fillColor":"FFFFFF"}'/>
									
							<area coords="110,144,159,206"  shape="rect" class="same"
								details="Model:Aqua+, Brand:Intex,Size:7 inches,Camera: 23MP" 
								source='GOOGLE_Walleye_Denim'
								data-maphilight='{"strokeColor":"228B22","strokeWidth":2,"fillColor":"FFFFFF"}'/>
									
							<area coords="186,143,229,207"  shape="rect" class="same"
								details="Model:A3, Brand:Gionee,Size:7 inches,Camera: 23MP" 
								source='Google_Marlin_Slate'
								data-maphilight='{"strokeColor":"228B22","strokeWidth":2,"fillColor":"FFFFFF"}'/>
								  
						</map>              
						
						<form id="phoneInfoForm" style="font-size:14px;" class="text-left">
							<div class="row">
								<div class="col-md-9">
									<div class="checkbox" >
										<label class="text-primary">
											<input type="checkbox" onclick="highlightImages(this)" id="highlightChangedCheck" 
											value="highlightChangedCheck" class="highlightChangedCheck">
												Highlight changed content
											</label>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="checkbox" >
										<label class="text-primary">
											<input type="checkbox" id="movedCheck" onclick="highlightImages(this)" 
											class="change" value="movedCheck">    Highlight Moved ones
										</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="checkbox" >
										<label class="text-primary">
											<input type="checkbox" id="newlyAddedCheck" onclick="highlightImages(this)" 
												class="change"  value="newlyAddedCheck"> Highlight newly added
											</label>
									</div>
								</div>
							 </div>
							 <div class="row">
								<div class="col-md-5">
									<div class="checkbox" >
										<label class="text-primary">
											<input type="checkbox" onclick="highlightImages(this)" class="same"  
												id="sameContentCheck" value="sameContentCheck">
												Same content
											</label>
									</div>
								</div>
							 </div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="col-md-6" id="big-image">
							<img id= "my_image"  src="" style="display:none;width: 150px;height: 250px"/>
						</div> 
			   
						<div class="col-md-5"  id="content">
						  
						</div>
					</div>
				</div>
		</div>
	</div> <!--End modal2-->

</div><!--Container fluid end-->
<script type="text/javascript">
		
	$(document).ready(function()
	{
		$(".navbar-nav li a").click(function(event) 
		{
			$(".navbar-collapse").collapse('hide');
		});
		  
		$('html, body').animate(
		{
			scrollTop: 0
		}, 'slow');
	
	
		$('div.img-responsive').css('background-repeat','no-repeat');
	});
		
</script>