<div class="container">
    
    
    <div class="row">
        <h3 class="text-success"><strong>Learning</strong></h3>  
        
        <div class="col-md-6">

            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link"> <b>Apply For Leave </b></a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">Leave Balance</a>
            </div>
            <div class="alert alert-success" role="alert">
              <a href="#" class="alert-link">login-log-out timings</a>
            </div>
            
        </div>

            
        
        </div>
    </div>  

</div>    
